.container {
  display: flex;
  gap: 27px;
  padding-bottom: 24px;
  padding-top: 24px;
  border-bottom: 1px solid var(--color-gray);
}
.itemTitle {
  font-size: 20px;
  font-weight: bold;
  display: inline-block;
}
.itemPrice {
  font-size: 29px;
  font-weight: normal;
  color: var(--color-gray-darkest);
}
.cartItem{
  position: relative;
}
.cartItemImg{
  height: 100%;
  width: 100%;
  display: contents;
}
.cartItemCount{
  color: var(--color-primary);
  border: 1px solid var(--color-primary);
  background-color: var(--color-secondary);
  position: absolute;
  padding: 5px 10px;
  margin: 5px 0px;
  right: 0;
  top: 0;
border-radius: 100%;
}
.removeBtn{
  border: none;
  background-color: var(--color-gray-darkest);
  color: var(--color-secondary);
  padding: 0;
  margin-top: 10px;
  width: 35px;
  font-size: 1.5rem;
  position: absolute;
  left: 0;
  bottom: 0;
  cursor: pointer;
}